$colorPrimary:#f58634;
$colorSecondary:#41240b;
$colorHeading:#222222;
$colorText:#4c5567;
$colorDarkGray:#4a4a4a;
$colorWhite:#ffffff;
$colorBlack:#000;
$colorLight:#de843b1a;

// FONT
$fontPrimary:"Poppins", sans-serif;;
$fontSecondary:"Raleway", sans-serif;


$defaultFontSize: 1.5rem;

$transition : 0.4s;

$boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$boxShadowTwo:0 0 30px rgba(0,0,0,.18);