@use "../abstracts" as *;

.applicationForm {
    .sectionHeading {
        color: $colorWhite;
        background: $colorPrimary;
        padding: 8px 2rem;
        display: inline-block;
        font-size: $defaultFontSize;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .form-label {
        font-weight: 500;
    }

    .row {
        row-gap: 1rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    .genderWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .form-control {
        padding: 12px 10px;
        font-size: 14px;

        &:focus {
            box-shadow: none;
            border-color: $colorPrimary;
        }
    }

    .form-check-input {
        &:focus {
            box-shadow: none;
        }

        &:checked {
            background-color: $colorPrimary;
            border-color: $colorPrimary;
        }
    }
    textarea{
        resize: none;
    }
    .specifyOther{
        display: none;
    }
    input.other:checked{
        & ~ .specifyOther{
            display: block;
        }
    }
    span.required {
    color: #ec268f;
}
    .btnWrp{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        button{
            color: $colorWhite;
            padding: 10px 30px;
            text-transform: uppercase;
            border: none;
            box-shadow: none;
            font-weight: 600;
            transition: $transition;
            &:focus{
                outline: none;
                box-shadow: none;
            }
            &:first-child{
                background: $colorSecondary;
                &:hover{
                    background: #ec268f;
                }
            }
            &:last-child{
                background: $colorPrimary;
                &:hover{
                    background: #01a95a;
                }
            }
        }
    }
    .form-check-input, .form-control {
    border-color: #c99f81;
}
}