@use "../abstracts" as *;
.heroSection {
    position: relative;

    &__Grid {
        display: grid;
        grid-template-columns: 40% 60%;
        height: 44rem;
    }

    &__Item {
        align-self: center;

        .heroContent {
            @include responsiveColumn;

            h6 {
                font-size: 1.6rem;
                font-weight: bold;
                display: inline-block;
                color: $colorWhite;
                background-color: $colorPrimary;
                padding: 1rem;
                letter-spacing: 1px;
                font-size: 14px;
            }

            h2 {
                font-size: 3.4rem;
                font-weight: normal;
                font-weight: 700;
                margin: 1.5rem 0;
                color: $colorSecondary;

                span {
                    color: $colorPrimary;
                    font-weight: normal;
                }
            }

            .linkWrapper {
                margin-top: 2rem;

                a {
                    @include BtnOne();
                }
            }
        }

        .imgWrapper {
            position: relative;
            height: 44rem;

            img {
                height: 100%;
                width: 100%;
            }

            &::before {
                content: "";
                background-image: url(../../images/about-banner-bg.png);
                background-position: center;
                background-size: 100% 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }
    }

    .owl-dots {
        margin-top: 2rem;
        display: flex;
        gap: 8px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        position: absolute;
        bottom: 40%;
        right: 2rem;
    }

    .owl-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: relative;
        background: $colorWhite!important;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid transparent;
            border-radius: 100%;
        }

        &:focus {
            outline: none;
        }

        &.active {
            &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1.3px solid $colorWhite;
            transform: scale(1.5);
        }
        }
    }
}
.heroSectionOne{
    position: relative;
    padding-top: 3rem;
    @include respond (maxWidth992){
        text-align: center;
        .heroImg{
            margin-top: 3rem;
        }
    }
    .linkWraaper{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        margin-top: 3rem;
        @include respond (maxWidth992){
        justify-content: center;
        }
        a{
            &:first-child{
                @include BtnOne();
            }
            &:last-child{
                @include BtnTwo();
            }
        }
    }
    h2{
        font-weight: 400;
        font-size: 2rem;
        span{
            color: rgba($colorPrimary, $alpha: 1);
        }
    }
    h6{
        margin-bottom: 0;
        color: rgba($colorPrimary, $alpha: 1);
        font-size: $defaultFontSize;
    padding: 9px 25px;
    font-weight: 700;
     text-align: center;
        border-radius: 40px;
        margin-bottom: 2rem;
        background: rgba($colorPrimary, $alpha: 0.2);
        &:last-child{
            color: $colorWhite;
        background: $colorSecondary;        }
    }
    .initiatives{
        display: inline-flex;
        gap: 1rem;
        align-items: baseline;
        flex-wrap: wrap;
        @media screen and (max-width:512px) {
            justify-content: center;
            h6:first-child{
                margin-bottom: 0;
            }
        }
       
    }
    em {
    background: $colorSecondary;
    color: $colorWhite;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 10px;
}
    h1{
        font-size: 4.6rem;
    font-weight: 700;
    line-height: 1;
    color: $colorSecondary;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: $fontPrimary;
    @include respond (maxWidth768){
        font-size: 3.6rem;
    }
    @include respond (maxWidth575){
        font-size: 2.7rem;
    }
    @include respond (minWidth1200){
        font-size: 5.5rem;
    }
    @media screen and (max-width:300px) {
        font-size: 10vw;
        line-height: 1.1;
    }
    span{
        color: rgba($colorPrimary, $alpha: 1);
        font-size: 6rem;
        @include respond (maxWidth1200){
            font-size: 6.3rem;
        }
        @include respond (maxWidth768){
        font-size: 3.6rem;
    }
    @media screen and (max-width:300px) {
        font-size: 10vw;
        line-height: 1.1;
    }
    }
    }
    .vsRow {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    .left, .right{
        border: 2px solid $colorSecondary;
        padding: 15px 25px 13px;
        span{
            padding: 2.5px 10px;
        }
        @include respond (minWidth1200){
            max-width: 40rem;
            flex: 0 0 40rem;
        }
        p{
            margin-bottom: 0;
            margin-top: 1rem;
            line-height: 1.2;
            font-size: 2rem;
            font-family: $fontPrimary;
        }
    }
    .left{
        color: $colorSecondary;
        span{
            display: inline-block;
            background: $colorSecondary;
            color: $colorWhite;
        }
    }
    .right{
        background: $colorSecondary;
        color: $colorWhite;
        span{
            display: inline-block;
            background: $colorWhite;
            color: $colorSecondary;
        }
    }
}
}