@use "../abstracts" as *;

.training {
    .values-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        text-align: center;
        .value-item{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 30px 0;
            transition: $transition;
            &:hover{
                transform: translateY(-3px);
                i{
                    transform: scaleX(-1) rotateY(-180deg);
                }
            }
        }

        .headingQuartery {
            background: $colorSecondary;
            color: $colorWhite;
            border-color: $colorSecondary;
            text-align: center;
            font-weight: 700;
        }

        i {
            font-size: 6rem;
            color: $colorSecondary;
            padding-bottom: 3rem;
            transition: $transition;
        }

        p {
            padding: 0 20px;
        }
    }
}
.ourLigacy{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .borderLine{
        &::before{
            background: $colorWhite;
        }
    }
    p{
        color: $colorWhite;
    }
    .videoWrapper{
        position: relative;
        &::before{
            content: "";
            background: $colorWhite;
            opacity: 0.3;
            position: absolute;
            top: -25%;
            right: 20px;
            width: 200px;
            aspect-ratio: 1 / 1;
            border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
            height: 200px;
            mix-blend-mode: overlay;
            animation: rotate 9s linear infinite;
        }
        video{
            position: relative;
        }
    }
}