@use "../abstracts" as *;

.OneTara {
    .galleryGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        height: 100%;
        grid-auto-rows: calc(100% / 2);

        &__item {
            &:first-child {
                grid-row: span 2;
            }

            a {
                display: block;
                height: 100%;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #000;
                    opacity: 0;
                    z-index: 1;
                    transition: $transition;
                }

                &:hover {
                    img {
                        filter: grayscale(1);
                    }

                    &::before {
                        opacity: .6;
                    }

                    i {
                        transform: translate(-50%, -50%) scale(1);
                        opacity: 1;
                    }
                }

                i {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    color: #fff;
                    font-size: 30px;
                    transform: translate(-50%, -50%) scale(8);
                    opacity: 0;
                    z-index: 1;
                    transition: $transition;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .oneService {
        &__item {
            position: relative;
            padding-left: 45px;
            margin-top: 20px;

            &:not(:last-child) {
                i {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        height: calc(100% + 50px);
                        width: 1px;
                        left: 50%;
                        margin-left: -.5px;
                        z-index: -1;
                        background-color: $colorPrimary;
                    }

                    &::after {
                        content: "";
                        height: 10px;
                        width: 10px;
                        left: 50%;
                        border-radius: 50%;
                        border: 3px solid $colorWhite;
                        position: absolute;
                        left: 50%;
                        margin-left: -5px;
                        top: calc(100% + 24px);
                        background: $colorPrimary;
                    }
                }
            }

            i {
                border: 1px solid;
                line-height: 28px;
                width: 30px;
                position: absolute;
                left: 0;
                text-align: center;
                font-style: normal;
                height: 30px;
                font-size: 15px;
                font-weight: 600;
                top: 0;
                background-color: $colorWhite;
                color: $colorPrimary;
            }
        }
    }
}

.missionVission {
    background: #f7f6fc;
    position: relative;

    &::before {
        content: "";
        background-image: url(../../images/parallax3.jpg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
    }

    .container {
        position: relative;
    }

    .vissionCard {
        box-shadow: $boxShadowTwo;
        position: relative;
        background: $colorWhite;
        height: 100%;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            border-radius: inherit;
            top: 0;
            bottom: 0;
            border-bottom: 1px solid;
            opacity: 0;
            border-color: $colorPrimary;
            transition: $transition;
        }

        &:hover {
            &::before {
                border-width: 5px;
                opacity: 1;
            }
        }

        .imgWrapper {
            text-align: center;
            position: relative;

            i {
                position: absolute;
                bottom: -35px;
                background: $colorWhite;
                aspect-ratio: 1 / 1;
                width: 70px;
                border: 5px solid $colorSecondary;
                border-radius: 100%;
                display: grid;
                place-content: center;
                font-size: 2.6rem;
                color: $colorSecondary;
                left: 50%;
                transform: translateX(-50%);
            }

            img {
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }
        }

        &__content {
            padding: 40px;

            .headingTertiary {
                text-align: center;
            }
        }
    }
}

.keyHighLights {
    .imgWrapper {
        height: 100%;

        img {
            height: 100%;
        }
    }

    .highlightsGrid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);

        .highlightsItem {
            border: 1px solid $colorDarkGray;
            padding: 2rem;
            border-radius: 1.6rem;

            .headingTertiary {
                color: $colorSecondary;
            }
        }
    }
}

.counterArea {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        background: #000;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        top: 0;
        left: 0;
        position: absolute;
    }

    .container {
        position: relative;
    }

    .counterColumn {
        background: rgba($color: #000000, $alpha: 0.3);
        backdrop-filter: blur(5px);
    }

    .counterRow {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        text-align: center;

        .counter {
            color: $colorWhite;
            font-size: 4.8rem;
            font-weight: 700;
            width: 200px;

            &.plus {
                &::after {
                    content: "+";
                    display: inline-block;
                    font-weight: 100;
                    margin-left: 5px;
                }
            }

            &.perc {
                &::after {
                    content: "%";
                    display: inline-block;
                    font-weight: 100;
                    margin-left: 5px;
                    font-size: 3rem;
                }
            }
        }

        p {
            color: $colorWhite;
            text-transform: uppercase;
        }

    }

    .sectionTitle {

        h2,
        p {
            color: $colorWhite;
        }

        .borderLine {
            &::before {
                background: $colorWhite;
            }
        }
    }
}

.testimonialSection {
    .userBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .userContent {
            width: 100%;
            height: 250px;
            background-color: $colorSecondary;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            padding: 50px 20px;
            margin: 5px;
            border: 2px solid $colorSecondary;
            color: $colorWhite;
            position: relative;

            .icon {
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                font-size: 30px;

                i {
                    color: $colorWhite;
                }
            }

            #down-triangle {
                width: 0;
                height: 0;
                border-top: 10px solid $colorSecondary;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                top: 102%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.5);
            }
        }

        .userPic {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 10px;
            color: $colorSecondary;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 3px solid $colorWhite;
                outline: 3px solid $colorSecondary;
                margin: auto;
            }

            .userName {
                font-size: $defaultFontSize;
                font-family: $fontPrimary;
                text-transform: uppercase;
                font-weight: 700;
                display: inline-block;
                padding: 0.5rem 2rem;
                border-top: 1px solid;
                border-bottom: 1px solid;
            }
        }
    }
}

.academicDiff {
    .group {
        box-shadow: $boxShadow;
        padding: 2rem 2rem 2.5rem;
        transition: $transition;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: $colorPrimary;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            transition: $transition;
        }

        &:hover {
            transform: translateY(-3px);

            &::before {
                width: 100%;
            }
        }

        svg {
            color: $colorPrimary;
        }

        .externalLink {
            color: $colorPrimary;
            font-weight: 500;
            display: inline-block;
            border: 1px solid $colorPrimary;
            padding: 5px 15px;
            margin-top: 2rem;
        }
    }
}

.academicFor {
    .academicGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin-bottom: 3rem;
        @include respond (maxWidth992){
            grid-template-columns: repeat(3, 1fr);
        }
        @include respond (maxWidth768){
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond (maxWidth575){
            grid-template-columns: repeat(1, 1fr);
        }

        .academicGridItem {
            height: 100%;

            .card {
                text-align: center;
                height: 100%;
                padding: 20px;

                i {
                    color: $colorPrimary;
                    font-size: 2rem;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.newRoad {
    background: $colorPrimary;
    // clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);

    .linkWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;

        a {
            color: $colorWhite;
        }
    }

    .linkOne {
        text-align: center;
        margin-top: 5rem;

        a {
            @include BtnTwo();

            &:hover {
                border-color: $colorWhite;
            }
        }
    }

    h2,
    p {
        color: $colorWhite;
    }

}

.whyAlfa {
    background: rgba($colorLight, $alpha: 0.08);

    .linkOne {
        text-align: center;

        a {
            @include BtnOne();
        }
    }

    .box {
        height: 100%;
        padding: 2rem;
        box-shadow: $boxShadow;
        background: $colorWhite;

        .icon {
            background: rgba($colorPrimary, $alpha: 0.2);
            display: inline-block;
            width: 6rem;
            border-radius: 1rem;
            display: grid;
            place-content: center;
            aspect-ratio: 1 / 1;

            i {
                color: $colorPrimary;
                font-size: 2rem;
            }
        }

        .old {
            span {
                display: inline-block;
                background: $colorPrimary;
                color: $colorWhite;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 12px;
                padding: 2px 10px;
                margin-bottom: 1rem;
            }
        }

        .new {
            span {
                display: inline-block;
                background: $colorSecondary;
                color: $colorWhite;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 12px;
                padding: 2px 10px;
                margin-bottom: 1rem;
            }
        }
    }
}

.ourProgrammes {
    .contentWrapper{
        @include respond (minWidth1200) {
                height: 259px;
            }
    }
 .linkOne {
            text-align: center;

            a {
                @include BtnOne();
            }
        }   
}
.applyNowSection{
    background: $colorSecondary;
    .headingPrimary, .subHeading, p{
        color: $colorWhite;
    }
    .linkWrap{
        text-align: center;
        a{
            @include BtnOne();
            &:hover{
                border-color: $colorWhite;
            }
        }
    }
}
.bhartiSection{
    background: rgba($colorLight, $alpha: 0.08);
}