@forward "./home";
@forward "./curriculum";
@forward "./about";
@forward "./apply";
@forward "./legacy";
@forward "./programmes";
@forward "./pathWay";
@forward "./ourManagement";
@forward "./library";
@forward "./joinUs";