@use "../abstracts" as *;

.joinCard {
    .icon {
        span {
            display: inline-block;
            background: $colorPrimary;
            width: 6rem;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
            display: grid;
            place-content: center;
            font-size: 2.4rem;
            font-weight: 700;
            color: $colorWhite;
        }
    }
}