
@use "../abstracts" as *;

.jbTimeline{
    .imgWrapper{
        height: 100%;
        box-shadow: $boxShadow;
        img{
            height: 100%;
            width: 100%;
        }
    }
 .timeLineGrid {
        &__item {
            position: relative;
            padding-left: 45px;
            margin-top: 0;

            &:not(:last-child) {
                i {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        height: calc(100% + 50px);
                        width: 1px;
                        left: 50%;
                        margin-left: -.5px;
                        z-index: -1;
                        background-color: $colorPrimary;
                    }

                    &::after {
                        content: "";
                        height: 10px;
                        width: 10px;
                        left: 50%;
                        border-radius: 50%;
                        border: 3px solid $colorWhite;
                        position: absolute;
                        left: 50%;
                        margin-left: -5px;
                        top: calc(100% + 24px);
                        background: $colorPrimary;
                    }
                }
            }

            i {
                border: 1px solid;
                line-height: 28px;
                width: 50px;
                position: absolute;
                left: 0;
                text-align: center;
                font-style: normal;
                height: 30px;
                font-size: 15px;
                font-weight: 600;
                top: 0;
                background-color: $colorWhite;
                color: $colorPrimary;
            }
            .content{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                img{
                    height: 4.8rem;
                }
            }
        }
    }   
}
.recordsSection{
    .headingFive{
        font-weight: bold;
    }
    .beyondGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 1.6rem;
        overflow: hidden;
        @media screen and (max-width:500px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .beyondGridItem{
            padding: 3rem;
            .srText{
                font-weight: 500;
                margin-bottom: 0;
                i{
                    font-size: 1rem;
                }
            }
            &:first-child{
                background: rgba($colorText, $alpha: 0.1);
                i, .headingTertiary{
                    color: rgba($colorText, $alpha: 1);
                }
            }
            &:last-child{
                background: rgba($colorPrimary, $alpha: 0.1);
                .srText{
                    color: rgba($colorPrimary, $alpha: 1);
                }
                i{
                    color: rgba($colorPrimary, $alpha: 1);
                }
            }
        }
    }
}
.jbFounders{
    
    background: rgba($colorLight, $alpha: 0.08);
    .card{
        padding: 2rem;
        border: none;
        box-shadow: $boxShadow;
        height: 100%;
        position: relative;
        transition: $transition;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 0;
            background: rgba($colorPrimary, $alpha: 1);
            transition: $transition;
        }
        &:hover{
            transform: translateY(-3px);
            &::before{
                width: 100%;
            }
        }
    }
    .icon{
        background: $colorLight;
        display: inline-block;
        border-radius: 1rem;
        width: 5rem;
        aspect-ratio: 1 / 1;
        align-content: center;
    text-align: center;
        i{
            color: rgba($colorPrimary, $alpha: 1);
            font-size: 2rem;
        }
    }
}
.factoryTree{
    background: rgba($colorLight, $alpha: 0.08);
    .row{
        align-items: center;
        &.tree{
            @include respond (maxWidth992){
                flex-direction: column-reverse;
                margin-top: 2rem;
                }
        }
    }
    .imgWrapper{
        aspect-ratio: 16 /9;
        overflow: hidden;
        border-radius: 1.6rem;
        img{
            height: 100%;
            width: 100%;
        }
    }
}