@use "../abstracts" as *;

.ourSeniors {
    .row {
        padding: 4rem 2rem;
        box-shadow: $boxShadowTwo;
        border-radius: 1.6rem;
        @include respond (maxWidth992) {
            row-gap: 3rem;
        }
        .imgWrapper {
            height: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &:nth-child(even) {
            margin: 5rem 0;

            @include respond(maxWidth992) {
                margin: 3rem 0;
            }

            @include respond(maxWidth768) {
                margin: 2rem 0;
            }

            @include respond(minWidth992) {
                flex-direction: row-reverse;
            }
        }
    }
}

.ourFaculties{
    background: rgba($colorLight, $alpha: 0.08);
}